/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
.shadow a:hover{
	text-decoration: none!important;
}
a{text-decoration:none!important;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Monda', sans-serif !important;
	background:#c6e6fb;
}
/*-- main --*/
.main{
	width:45%;
    margin: 0 auto;
	padding:6em 0;
}
.main h1{
	text-align:center;
	color:#48C3D9;
	font-size:3em;
	margin:0 0 1em;
}
.main-grid-left{
	float:left;
	width:42%;
}
.main-grid-left-grid{
	padding:1.5em 1.5em 0;
	background:#48C3D9;
}
.main-grid-left-gridl{
	float:left;
}
.main-grid-left-gridl h2{
	font-size: 1.3em;
    color: #fff;
    padding-left: 1em;
    margin: 0.4em 0 0;
    background: url(../images/img-sp.png) no-repeat -22px -8px;
}
.main-grid-left-gridr{
	float:right;
}
.main-grid-left-gridr p{
	font-size:2em;
	color:#fff;
	margin:0;
	font-weight: 600;
}
.fig span{
	background: url(../images/img-sp.png) no-repeat -10px -61px;
    width: 120px;
    height: 85px;
    display: block;
    margin-left: 4em;
}
.fig {
    margin: 3em auto;
}
.main-grid-left-grid-left{
	float:left;
}
.main-grid-left-grid-left h3,.main-grid-left-grid-right h3,.main-grid-right-grid1-r h3{
	text-transform:capitalize;
	font-size:14px;
	color:#fff;
	margin:0;
	font-weight:300;
}
.main-grid-left-grid-left h3 span,.main-grid-left-grid-right h3 span,.main-grid-right-grid1-r h3 span{
	display:block;
	line-height:1em;
}
.main-grid-left-grid-right{
	float:right;
}
.days {
    background: #48C3D9;
}
.days ul{
	padding:1em 0 2em;
}
.days ul li{
	display:inline-block;
	padding: .3em 0em;
    background: #1799B0;
}
.days ul li a{
	font-size:.8em;
	color:#fff;
	font-weight:300;
	padding:.5em .646em;
	background:#1799b0;
	text-decoration:none;
}
.days ul li.act a{
	background:#48c3d9;
}
.days ul li a:hover{
	background:#48C3D9;
}
.main-grid-right{
	/*float:right;*/
	float: left;
	width:42%;
}
.main-grid-right-grid{
	padding:1.5em;
	background:#2a2a2c;
}
.main-grid-left-gridl h3{
	font-size: 1.3em;
    color: #fff;
    margin:0.3em 0 0;
}
.fig1 span{
	background: url(../images/img-sp.png) no-repeat -10px -159px;
    width: 120px;
    height: 85px;
    display: block;
    margin-left: 4em;
}
.fig1 {
    margin: 1.5em auto;
}
.main-grid-right-grid1{
	/*margin:1em 0 0 ;*/
	margin: 0;
	padding:2.5em;
	background:#2794b4;
}
.main-grid-right-grid1-l{
	float: left;
    width: 60%;
    background: url(../images/img-sp.png) no-repeat 85px -257px;
    display: block;
}
.main-grid-right-grid1-l p{
	font-size:2em;
	color:#fff;
	margin:0;
}
.main-grid-right-grid1-r{
	float:right;
	width:30%;
}
/*--flexisel--*/
.flex-slider{	
background:#222227;
padding: 70px 0 165px 0;
}
.opportunity{
background:#28282e;
margin:0px 20px;
padding:80px 0;
position:relative;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0px auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
	border-left:1px solid #fff;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:60px;
	height:115px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	display: none;
}
.nbs-flexisel-nav-left {
	left:0;
	top: 15% !important;
	background:none;
}
.nbs-flexisel-nav-right {
	right: 0;
	top: 15% !important;
	background:none;
}
.figure span{
	background:url(../images/img-sp.png) no-repeat 1px -306px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure1 span{
	background:url(../images/img-sp.png) no-repeat 5px -370px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure2 span{
	background:url(../images/img-sp.png) no-repeat 6px -425px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure3 span{
	background:url(../images/img-sp.png) no-repeat -132px 17px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure4 span{
	background:url(../images/img-sp.png) no-repeat -130px -55px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure5 span{
	background:url(../images/img-sp.png) no-repeat -130px -126px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure6 span{
	background:url(../images/img-sp.png) no-repeat -130px -202px;
    display: block;
    width: 80px;
    height: 80px;
}
.figure7 span{
	background:url(../images/img-sp.png) no-repeat -130px -283px;
    display: block;
    width: 80px;
    height: 80px;
}
/*--//flexisel--*/
.main-bottom{
	margin:2em 0 0;
	background:#2a2a2c;
	width: 84%;
}
.footer{
	padding:2em 0 0;
	text-align:center;
}
.footer p{
	font-size:14px;
	color:#2794B4;
	margin:0;
	line-height:1.8em;
}
.footer p a{
	color:#48C3D9;
}
.footer p a:hover{
	color:#2794B4;
}
sup.degree {
    vertical-align: super;
    font-size: .5em;
}
@media all and (max-width:1680px) {
	.days ul li a {
		padding:.5em .75em;
	}
}
@media all and (max-width:1600px) {
	.days ul li a {
		padding:.5em .646em;
	}
}
@media all and (max-width:1440px) {
	.main {
		padding: 3em 0;
		width: 50%;
	}
	.days ul li a {
		padding:.5em .62em;
	}
	.main-grid-right-grid1-l {
		width: 50%;
		background: url(../images/img-sp.png) no-repeat 60px -257px;
	}
	.main-grid-right-grid1-r {
		width: 37%;
	}
}
@media all and (max-width:1366px) {
	.main h1 {
		font-size: 2.5em;
	}
	.main {
		width: 55%;
	}
	.days ul li a {
		padding: .5em .69em;
	}
	.days ul {
		padding: 1em 0 1.7em;
	}
}
@media all and (max-width:1280px) {
	.days ul li a {
		padding: .5em .58em;
	}
}
@media (max-width: 1024px){
	.main {
		width: 75%;
	}
	.days ul li a {
		padding:.5em .74em;
	}
}
@media (max-width:768px){
	.main {
		width: 95%;
	}
	.main-grid-left {
		width: 50%;
	}
	.days ul li a {
		padding: .5em 1.009em;
	}
}
@media (max-width: 736px){
	.days ul li a {
		padding: .5em 0.88em;
	}
}
@media (max-width:667px){
	.days ul li a {
		padding: .5em 0.7em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 44px -257px;
	}
}
@media (max-width: 640px){
	.days ul li a {
		padding: .5em 0.67em;
	}
	.fig1 span {
		margin-left: 3em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 40px -257px;
	}
	.main h1 {
		font-size: 2.2em;
	}
	.figure span {
		background: url(../images/img-sp.png) no-repeat -6px -306px;
	}
	.figure1 span {
		background: url(../images/img-sp.png) no-repeat 1px -370px;
	}
	.figure2 span {
		background: url(../images/img-sp.png) no-repeat -3px -425px;
	}
	.figure3 span {
		background: url(../images/img-sp.png) no-repeat -140px 17px;
	}
	.figure4 span {
		background: url(../images/img-sp.png) no-repeat -138px -55px;
	}
	.figure5 span {
		background: url(../images/img-sp.png) no-repeat -136px -126px;
	}
	.figure6 span {
		background: url(../images/img-sp.png) no-repeat -135px -202px;
	}
	.figure7 span {
		background: url(../images/img-sp.png) no-repeat -141px -283px;
	}
}
@media (max-width: 600px){
	.fig {
		margin: 2.5em auto;
	}
	.days ul li a {
		padding: .5em 0.52em;
	}
	.main-grid-right-grid1-l p {
		font-size: 1.7em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 30px -257px;
	}
	.fig1 span {
		margin-left: 2em;
	}
	.figure span {
		background: url(../images/img-sp.png) no-repeat 10px -306px;
	}
	.figure1 span {
		background: url(../images/img-sp.png) no-repeat 20px -370px;
	}
	.figure2 span {
		background: url(../images/img-sp.png) no-repeat 13px -428px;
	}
	.figure3 span {
		background: url(../images/img-sp.png) no-repeat -127px 17px;
	}
	.figure4 span {
		background: url(../images/img-sp.png) no-repeat -128px -55px;
	}
	.figure5 span {
		background: url(../images/img-sp.png) no-repeat -127px -126px;
	}
	.figure6 span {
		background: url(../images/img-sp.png) no-repeat -123px -202px;
	}
	.figure7 span {
		background: url(../images/img-sp.png) no-repeat -121px -286px;
	}
}
@media (max-width:568px){
	.fig span {
		margin-left: 3em;
	}
	.main-grid-right {
		width: 46%;
	}
	.days ul li a {
		padding: .5em 0.43em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 30px -261px;
	}
}
@media (max-width:480px){
	.main {
		padding: 2em 0;
	}
	.main h1 {
		font-size: 2em;
	}
	.main-grid-left-grid {
		padding: 0em 1em 0;
	}
	.fig span {
		margin-left: 2em;
	}
	.days ul li {
		padding: .2em 0em;
	}
	.days ul li a {
		padding:0.3em 0.2em;
	}
	.main-grid-right-grid {
		padding: 0em 1em 1em;
	}
	.main-grid-right-grid1 {
		padding: .5em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 25px -261px;
	}
}
@media (max-width:414px){
	.main-grid-left,.main-grid-right {
		width: 100%;
		float: none;
	}
	.days ul li a {
		padding: 0.5em 1.08em;
	}
	.fig span {
		margin-left: 7em;
	}
	.fig1 span {
		margin-left: 7em;
	}
	.main-grid-right-grid1 {
		margin: 0;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 103px -261px;
	}
}
@media (max-width:384px){
	.main h1 {
		font-size: 1.8em;
	}
	.days ul li a {
		padding: 0.5em 0.92em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 82px -262px;
	}
}
@media (max-width:375px){
	.fig {
		margin: 1em auto;
	}
	.days ul li a {
		padding: 0.5em 0.87em;
	}
	.fig1 span {
		margin-left: 6em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 76px -262px;
	}
}
@media (max-width: 320px){
	.main h1 {
		font-size: 1.6em;
		margin: 0 0 0.5em;
	}
	.fig span {
		margin-left: 5em;
	}
	.days ul li a {
		padding: 0.5em 0.58em;
	}
	.fig1 span {
		margin-left: 4em;
	}
	.main-grid-right-grid1-l {
		background: url(../images/img-sp.png) no-repeat 55px -262px;
	}
	.figure7 span {
		background: url(../images/img-sp.png) no-repeat -138px -286px;
	}
	.figure span {
		background: url(../images/img-sp.png) no-repeat -5px -306px;
	}
	.figure1 span {
		background: url(../images/img-sp.png) no-repeat 0px -370px;
	}
	.figure2 span {
		background: url(../images/img-sp.png) no-repeat -5px -428px;
	}
	.figure3 span {
		background: url(../images/img-sp.png) no-repeat -142px 17px;
	}
	.figure4 span {
		background: url(../images/img-sp.png) no-repeat -140px -55px;
	}
	.figure6 span {
		background: url(../images/img-sp.png) no-repeat -138px -202px;
	}
	.figure5 span {
		background: url(../images/img-sp.png) no-repeat -138px -126px;
	}
	.footer p,.main-grid-left-grid-left h3, .main-grid-left-grid-right h3, .main-grid-right-grid1-r h3 {
		font-size: 13px;
	}
	.footer {
		padding: 1em 0 0;
	}
}